/*
body {
  background: url("../img/blue_architecture.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
*/

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
} 

p.entry_phrase {
  color: #ffffff; 
  font-family: 'Merriweather', serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 40px; 
  margin: 0 30px 40px; 
  text-align: center; 
}

p.citation{
  color: #217969; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 12px; 
  font-weight: bold; 
  line-height: 12px; 
  letter-spacing: 3px; 
  text-align: center; 
  text-transform: uppercase;
}